<div class="container">
  <div class="painting-show">
  <div class="painting-show-image" >
    <%= image_tag @painting.image %>
  </div>
  <div class="painting-show-content">
    <h2><%= @painting.title %></h2>
    <h4><%= @painting.category %></h4>
    <h4><%= @painting.price %></h4>
    <p><%= @painting.description %></p>
  </div>
</div>
</div>
