<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Artisie", root_path, class: "logo-link" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        <!-- <a class="nav-link" href="http://localhost:3000/">Home</a> -->
      </li>
      <li class="nav-item">
        <%= link_to "Paintings", paintings_path, class: "nav-link" %>
        <!-- <a class="nav-link" href="http://localhost:3000/paintings">Paintings</a> -->
      </li>
      <li class="nav-item">
        <%= link_to "Add painting", new_painting_path(@painting), class: "nav-link" %>
        <!-- <a class="nav-link" href="http://localhost:3000/">Home</a> -->
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <%= link_to "login", new_user_session_path, class: "nav-link" %>
      <% end %>
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>
